{% extends 'base.html' %}
{% block bodytitle %}{{e.name}}{% endblock %}
{% block title %}{{e.name}}{% endblock %}
{% block body %}
{% if e.publication_set.count %}
<h2>Publications</h2>
<table class="table table-hover">
<thead>
<tr>
	<th>Titre</th>
	<th>Publiée le</th>
	<th>Saga</th>
	<th>Volume</th>
	<th>Auteur</th>
	<th>Genre</th>
</tr>
</thead>
<tbody>
{% for p in e.sorted_publications %}
<tr class="hover {%ifchanged p.saga%}{%cycle 'success' '' as rowcolors%}{%else%}{{rowcolors}}{%endifchanged%}">
	<td><a href="{% url 'pub' p.id %}">{{p.title}}</a></td>
	<td>{{ p.pub_date }}</td>
	<td>{{ p.saga }}</td>
	<td>{{ p.volume }}</td>
	<td><a href="{% url 'author' p.author_id %}">{{p.author}}</a></td>
	<td>{{ p.genre }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
<div class="alert alert-info" role="alert">Aucune publication.</div>
{% endif %}
{% endblock %}
