{% extends 'base.html' %}
{% block bodytitle %}{{p.title}}{% endblock %}
{% block title %}{{p.title}}{% endblock %}
{% block body %}
<table class="table table-hover">
<tr>
	<th>Auteur</th>
	<td>{{ p.author.link }}</td>
</tr>
<tr>
	<th>Publiée le</th>
	<td>{{ p.pub_date }}</td>
</tr>
<tr>
	<th>Saga</th>
	<td>{{ p.saga.link }}</td>
</tr>
<tr>
	<th>Volume</th>
	<td>{{ p.volume }}</td>
</tr>
<tr>
	<th>Éditeur</th>
	<td>{{ p.editor.link }}</td>
</tr>
<tr>
	<th>Genre</th>
	<td>{{ p.genre }}</td>
</tr>
</table>
{% endblock %}
