{% extends 'base.html' %}
{% block bodytitle %}{{s.name}}{% endblock %}
{% block title %}{{s.name}}{% endblock %}
{% block body %}
<h2>Publications</h2>
<table class="table table-hover">
<thead>
<tr>
	<th>Titre</th>
	<th>Publiée le</th>
	<th>Auteur</th>
	<th>Volume</th>
	<th>Éditeur</th>
	<th>Genre</th>
</tr>
</thead>
<tbody>
{% for p in s.sorted_publications %}
<tr>
	<td>{{ p.link }}</td>
	<td>{{ p.author.link }}</td>
	<td>{{ p.pub_date }}</td>
	<td>{{ p.volume }}</td>
	<td>{{ p.editor.link }}</td>
	<td>{{ p.genre }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
